.navbar-nav{
  padding-right: 0;

}
.col-md-3{
  background: #ff9b00;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.navbar-nav a{
  font-size: 20px;
  font-weight: bold;
}
.corf{
  background-color: orange;
  text-decoration: underline;
  font-weight: bold;
}
.pox{
  padding-left: 1rem;
  padding-top: 1rem;

  background-color: #FC6A03;
}
.h4{
  text-align: center;
}
.uno{
  background-color: #FC6A03;
    padding-right: 5rem;
  padding-left: 1.5rem;
  padding-bottom: 5rem;
  border: 1px solid black;
}
.dos{
  padding-top: 1.5rem;
  background-color: #FA8128;
  padding-right: 5rem;
  border: 1px solid black;

}
.dos h1{
  padding-top: 1.5rem;
}
.uno h1{
  color:white;
  font-family: Lucida Console;
  padding-top: 1.5rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.white{
  color:white;
    text-align: center;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.blue{
  color:lightblue;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.form{
  padding: 5rem;
  border: 2px solid black;
  background-color: #dd5035;
}
.form button{
background: #0083ff;
color: white;

}
.form h4{
  padding-bottom: 1.5rem;
  border: 2px solid black;
  background-color: #e32636;
  padding-top: 1.5rem;
}
.iniciar{
  background-color: #dd5035;
  padding: 3%;
  border: 2px solid black;

}

.iniciar h2{

  padding: 1.5rem;
  border: 2px solid black;
  background-color: #e32636;
  }

.no-padding {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.banner{
 width: 100%;
 background-image: url("img/image.jpg");
}

footer{

  margin-top: 5rem;

  bottom: 0;
  padding: 20px;

  color: #ffffff;
  background-color: #e8491d;
  text-align: center;

}
.jumbotron{
    background: url("C:/Users/cfvsc/Desktop/pi2websiteboot/img/banner.jpg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    border-style:solid;
    background-color: #e8491d;
}
.container h1{

  background-color: #4a4a4a ;
  color:white;
  padding-bottom: 2.5rem;
  border:2px solid black;
  text-align: center;

}
body{
		background-color: #25274d;
	}
	.contact{
		padding: 4%;
		height: 400px;
	}

	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.contact-form label{
		font-weight:600;
	}
  .control-group button{
    background: #0083ff;
    color: white;
  }
	.contact-form button{
		background: #899ad5;
		color: #fff;
		font-weight: 600;
		width: 100px;
	}
	.contact-form button:focus{
		box-shadow:none;
	}
  .corh1{
    color:white;
    text-decoration-color: white;
    text-align: center;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
  }
